@import "/styles/svgs";
.header {
  padding: 16px 0;
  background-color: $color-white;
  border-bottom: 5px solid $color-black;
  position: relative;
  z-index: 91;
  &__links {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    @include respond-to($break-md) {
      justify-content: flex-start;
      margin-right: -15px;
      margin-left: -15px;
      padding: 8px 30px;
      height: 70px;
      width: 100vw;
      border-bottom: 3px solid $color-black;
    }
    a {
      font-weight: 200;
      font-size: 6rem;
      @include respond-to($break-md) {
        font-size: 3.75rem;
        line-height: 1;
        display: inline-block;
      }
    }
  }
  &__locales {
    width: 100%;
    font-weight: 200;
    font-size: 6rem;
    text-align: right;
    text-transform: capitalize;
    @include respond-to($break-md) {
      text-align: left;
      font-size: 3.75rem;
      height: 70px;
      line-height: 1;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-right: -15px;
      margin-left: -15px;
      padding: 8px 30px;
      width: 100vw;
      border-bottom: 3px solid $color-black;
    }
    a {
      font-weight: inherit;
      font-size: inherit;
    }
    .active {
      text-decoration: underline;
    }
  }

  .title {
  }
}
div.menu {
  @include respond-to($break-md) {
    overflow: hidden;
    display: none;
    position: absolute !important;
    top: 68px;
    background-color: $color-white;
    width: 100%;
    z-index: 90;
    font-size: 12px;
  }
  &.visible {
    @include respond-to($break-md) {
      display: block;
      height: calc(100vh - 86px);
      border-bottom: 5px solid $color-black;
    }
  }
}
button.btnMenu {
  background: url(menu()) no-repeat left center;
  background-size: contain;
  height: 30px;
  width: 30px;
  display: block;
  content: " ";
  margin: 0 auto;
  cursor: pointer;
  border-radius: 0;
  border: none;
  float: right;
  &-active {
    background: url(close()) no-repeat left center;
  }
}

.about {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: $color-white;
  top: calc(100% - 16px);
  left: 0;
  border-bottom: 5px solid $color-black;
  padding: 16px 0 16px;
  margin-top: -5px;
  display: none;
  &--active {
    display: block;
  }
  .text {
    font-size: 18px;
  }
}
