.header {
  padding: 16px 0;
  background-color: $color-white;
  border-bottom: 1px solid $color-black;
  &__links {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    a {
      font-weight: 200;
      font-size: 6rem;
    }
  }
  &__locales {
    font-weight: 200;
    font-size: 6rem;
    text-align: right;
    text-transform: capitalize;
    a {
      font-weight: inherit;
      font-size: inherit;
    }
    .active {
      text-decoration: underline;
    }
  }
}
