.postslist {
  @include respond-to($break-md) {
    display: flex;
    flex-direction: column-reverse;
  }
  button.toggleFilterBtn {
    @include respond-to($break-md) {
      display: block;
      width: 100%;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid $color-black;
      margin-bottom: 0;
    }
  }
  .tagsfilter {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .btn {
      margin-left: 18px;
      min-width: 180px;
      @include respond-to($break-md) {
        width: 100%;
        display: block;
        text-align: left;
        margin-left: 0;
        margin-bottom: 0;
        border-radius: 0;
        width: 100%;
        border: none;
        border-bottom: 1px solid $color-black;
        &:last-child {
          border-bottom: none;
        }
      }
      &:first-child {
        margin-left: 0;
      }
    }
    .icon {
      display: inline-block;
      vertical-align: middle;
      width: 30px;
      height: 30px;
      object-fit: contain;
      margin-left: 16px;
    }
  }

  .item {
    padding: 8px 30px;
    border-bottom: 1px solid $color-black;
    h2 {
      font-size: 22px;
    }
    display: flex;
    flex-direction: row;
    @include respond-to($break-md) {
      flex-direction: column;
    }
    &.tagsfilter {
      @include respond-to($break-md) {
        flex-direction: column;
        display: none;
        padding: 8px 0;
        &.visible {
          display: flex;
        }
      }
    }
    .title {
      flex: 0.5;
      @include respond-to($break-md) {
        flex: 1;
        display: block;
        width: 100%;
      }
    }
    .tags {
      width: 100%;
      flex: 0.5;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-left: 30px;
      @include respond-to($break-md) {
        padding-left: 0;
        flex-direction: row;
        flex: 1;
      }
      .tagItem {
        width: 100%;
        margin-left: 18px;
        min-width: 180px;
        opacity: 0;
        @include respond-to($break-md) {
          min-width: auto;
        }
        &:first-child {
          margin-left: 0;
        }
        &.visible {
          opacity: 1;
        }
        img {
          display: block;
          margin: 0 auto;
          width: 42px;
          height: 42px;
          @include respond-to($break-md) {
            width: 32px;
            height: 32px;
          }
          object-fit: contain;
        }
      }
    }
  }
  .empty {
    text-align: center;
    justify-content: center;
    h2 {
      opacity: 0.5;
    }
  }
}
.carousel {
  .slick-slide {
    border-left: 4px solid $color-black;
    border-right: 4px solid $color-black;
    border-bottom: 5px solid $color-black;
  }
}
