@import "/styles/svgs";
.about {
  // border-bottom: 1px solid $color-black;
  @include respond-to($break-md) {
    margin-top: 20px;
  }
  h2 {
    font-size: 24px;
    padding: 8px 0;
    font-weight: bold;

    @include respond-to($break-md) {
      font-size: 20px;
      padding-bottom: 0;
    }
  }
  .content {
    height: 0;
    width: 100%;
    position: absolute;
    overflow: hidden;
    overflow-y: auto;
    z-index: 1;
    bottom: 2px;
    left: 0;
    transform: translateY(100%);
    background-color: $color-white;
    transition: height 300ms ease;
    padding: 0 15px;
    border-bottom: 5px solid $color-black;
    @include respond-to($break-md) {
      position: relative;
      border-bottom: none;
      height: fit-content;
      overflow: auto;
      transform: none;
      padding: 0;
    }
    .grid {
      display: grid;
      padding: 8px 0;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      @include respond-to($break-md) {
        grid-template-columns: 1fr;
      }
    }

    &__text {
      padding-bottom: 20px;
      display: inline-block;
      @include respond-to($break-md) {
        font-size: 14px;
      }
    }
  }
  &:hover {
    .content {
      height: 50vh;
      @include respond-to($break-md) {
        height: auto;
      }
    }
  }
}
