@import "/styles/svgs";

.media {
  margin-top: 20px;
  @include respond-to($break-md) {
    margin-top: 0;
  }
}
.photos {
  @include respond-to($break-md) {
    margin: 0 -15px;
  }
  &__item {
    display: none;
    &.visible {
      display: block;
    }
  }
}
.nextPhoto {
  background: url(arrowDown()) no-repeat left center;
  background-size: contain;
  height: 80px;
  width: 80px;
  display: block;
  content: " ";
  margin: 20px auto;
  cursor: pointer;
  @include respond-to($break-md) {
    display: none;
  }
}
