@import "/styles/svgs";

.media {
}
.photos {
  width: 60vw;
  &__item {
    display: none;
    &.visible {
      display: block;
    }
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}
.nextPhoto {
  background: url(arrowDown()) no-repeat left center;
  background-size: contain;
  height: 80px;
  width: 80px;
  display: block;
  content: " ";
  margin: 20px auto;
  cursor: pointer;
  @include respond-to($break-md) {
    display: none;
  }
}
