@font-face {
  font-family: "Durango Kid";
  src: url("../public/fonts/DurangoKid/DurangoKidMedium.eot");
  src: url("../public/fonts/DurangoKid/DurangoKidMedium.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/DurangoKid/DurangoKidMedium.woff2") format("woff2"),
    url("../public/fonts/DurangoKid/DurangoKidMedium.woff") format("woff"),
    url("../public/fonts/DurangoKid/DurangoKidMedium.ttf") format("truetype"),
    url("../public/fonts/DurangoKid/DurangoKidMedium.svg#DurangoKidMedium")
      format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
