h1 {
  font-size: 3.75rem;
  line-height: 1.4;
}

h2 {
  font-weight: 200;
  font-size: 6rem;
}

figure {
  margin: 0;
}

html,
body,
#__next {
  height: 100%;
}

html {
  font: #{$font-size-root}px $font-family-default;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: $color-white;
  margin: 0;
  padding: 0;
  color: $color-black;
  font-size: 2rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -ms-flex: 0 1 auto;
}

h1,
h3,
h4 {
  margin: 0 0 3rem 0;
  font-family: $font-family-headings;
  font-weight: 900;
  letter-spacing: 0.035em;
}

h4 {
  margin: 2rem 0 1rem 0;
  font-size: inherit;
  font-weight: 700;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

p:not(:last-child) {
  margin-bottom: 2.5rem;
}

a {
  color: $color-black;
  font-weight: 700;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  * {
    pointer-events: none;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

// @media (min-width: $break-tablet) {
//   body {
//     font-size: 2.25rem;
//   }

//   p:not(:last-child) {
//     margin-bottom: 3rem;
//   }
// }

// @media (min-width: $break-desktop) {
//   p:not(:last-child) {
//     margin-bottom: 4rem;
//   }
// }

// @media (min-width: $break-desktop-large) {
//   html {
//     font-size: #{$font-size-root + 0.5}px;
//   }
// }

// @media (min-width: $break-desktop-x-large) {
//   html {
//     font-size: #{$font-size-root + 1}px;
//   }
// }
